body { font-family: monospace; font-size: 10pt; }

@page {
	orphans: 4;
	widows: 4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: arial, sans-serif;
	margin-bottom: 0.1em;
}
pre, p, ol, ul { margin-top: 0.2em; }
p, ol, ul { font-family: arial, sans-serif; }

#toc {
	list-style: none;
	padding-left: 0;
	font-weight: bold;
}
#toc ol {
	list-style: none;
	padding-left: 1.5em;
	font-weight: normal;
	margin-bottom: 0.8em;
}
#toc li {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

h2, h3 {
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px solid black;
}
h3 { border-top-color: grey; font-size: 130%; }

.description h1, .description h2, .description h3, .description h4, .description h5 {
	padding-top: 0;
	margin-top: 0.8em;
}
.description h1 { font-size: 115%; }
.description h2 { font-size: 108%; border-top: none; }
.description h3 { font-size: 100%; border-top: none; }
.description h4 { font-size: 100%; color: gray; }
.description h4 { font-size: 100%; color: gray; font-style: italic; }

.complexity { float: right; font-weight: normal; font-style: italic; }
.description { color: #444; }
